@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Lobster Two', cursive ;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #990257 ;
    color: white;
}
nav a{
    text-decoration: none;
    color:white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color:#990257 ;
    color: white;
    font-family:'Lobster Two', cursive ;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg1.jpg');
   background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    border: 34px;
    border-color: antiquewhite;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color:#990257;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: #990257;
    
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 25px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Lobster Two', cursive ;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.container2{
    min-height: 42vh;
    color:white;
    background-image: url('bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    font-family:'Lobster Two', cursive ;
   display: flex;
   margin: 23px auto;
   width: 80%;
   border-radius: 12px;
   padding: 34px;
   
}

@media only screen and (max-width: 1100px) {
    body {
      background-color:black;
    }
  }